<div class="con-select">
  <div class="con-search">
    <h2 class="text-search">Search</h2>
    <div class="con-inp">
      <svg class="svg-search" width="32" height="32">
        <use  href="sprite.svg#icon-search"></use>
      </svg>
      <input
        class="inp-search"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Enter Text"
      />
    </div>
  </div>
  <div class="item-select time">
    <h2 class="text-search">Time</h2>
    
    <div class="custom-select">
      <div class="selected-option js-time">
        <span class="elem-prev">Select</span>
        <svg class="search-arrow" width="18" height="18">
          <use href="sprite.svg#icon-left"></use>
        </svg>
      </div>
      <ul class="js-time-list"></ul>
    </div>
  </div>
  <div class="item-select">
    <h2 class="text-search">Area</h2>
    <div class="custom-select">
      <div class="selected-area js....">
        <span class="elem-prev">Select</span>
        <svg class="search-arrow" width="18" height="18">
          <use href="sprite.svg#icon-left"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="item-select">
    <h2 class="text-search">Ingredients</h2>
    <div class="custom-select">
      <div class=" selected-ing js....">
        <span class="elem-prev">Select</span>
        <svg class="search-arrow" width="18" height="18">
          <use href="sprite.svg#icon-left"></use>
        </svg>
      </div>
    </div>
  </div>
  </div>
  <div class="button-div">
    <svg class="button-svg" width="18" height="18">
      <use href="sprite.svg#icon-cross"></use>
    </svg>
    <button class="reset-button label-text" type="submit">
      Reset the filter
    </button>
</div>
