<section class="favourites">
  <div class="container">
    <div class="hero-favourites">
      <div class="hero-img js-hero-img"></div>
    </div>

    <div class="all-favourites-btn js-all-favourites-btn">
      <div class="card-favor-btn"></div>
    </div>

    <ul class="all-favourite-cards js-all-favourite-cards"></ul>
    <div class="failure-block failure-block-hidden">
      <svg class="svg-hat">
        <use href="sprite.svg#icon-chef-hat"></use>
      </svg>
      <p class="failure-text">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
  </div>
  <a class="btn-up-fav" href="#header">UP</a>
</section>
<script
  type="module"
  src="https://code.jquery.com/jquery-3.6.0.min.js"
></script>
<script type="module" src="./js/btn-up.js"></script>
