<section class="favourites">
  <div class="container">
    <div class="hero-favourites">
      <div class="hero-img js-hero-img"></div>
    </div>

    <ul class="all-favourites-btn js-all-favourites-btn"></ul>

    <ul class="all-favourite-cards js-all-favourite-cards">
      <div class="failure-block">
        <svg class="svg-hat">
          <use href="sprite.svg#icon-chef-hat"></use>
        </svg>
        <p class="failure-text">
          It appears that you haven't added any recipes to your favorites yet.
          To get started, you can add recipes that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </ul>
  </div>
</section>
