<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-block">
      <h2 class="hero-title">
        Learn to Cook
        <span class="hero-title-span">Tasty<br />Treats'</span>
        Customizable<br />Masterclass
      </h2>
      <p class="hero-descr">
        TastyTreats - Customize Your Meal with Ingredient<br />Options and
        Step-by-Step Video Guides.
      </p>
      <button class="hero-btn js-open-modal" data-modal="1">Order now</button>
    </div>
    <div class="swiper-section">
      <div class="swiper swiper-hero">
        <div class="swiper-wrapper"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
