<div class="modal-backdrop backdrop">
    <div class="modal-recipe-card">
      <button type="button" class="modal-button-close">
        <svg class="modal-button-icon" width="20" height="20">
          <use href="./sprite.svg#icon-modal-cross"></use>
        </svg>
      </button>

      <div class="card-markup-modal"></div>

      <div class="extra-modal-button">
        <button type="button" class="modal-add-favorite">
          Add to favorite
        </button>
        <button type="button" class="modal-give-rating">Give a rating</button>
      </div>
  </div>
</div>
