.card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  padding: 0;
}

.card-item {
  position: relative;
  border-radius: 8px;
  width: 335px;
  height: 335px;
}

.card-img {
  border-radius: 8px;
  width: 335px;
  height: 335px;
}

.image-gradient {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-gradient::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0));
}

@media screen and (min-width: 768px) {
  .card-list {
    flex-direction: row;
    gap: 16px;
    width: 496px;
    margin-bottom: 64px;
  }

  .card-item,
  .card-img {
    width: 240px;
    height: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .card-list {
    width: 782px;
    column-gap: 16px;
    row-gap: 20px;
  }

  .card-item,
  .card-img {
    width: 250px;
    height: 287px;
  }
}

@media screen and (max-width: 767px) {
  .card-item:nth-child(n + 7) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .card-item:nth-child(n + 9) {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .card-item:nth-last-child(-n + 1) {
    display: block;
  }
}

.card-svg-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  opacity: 0.5;
  fill: none;
  stroke: var(--dt-text-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.card-svg-heart-checked {
  fill: var(--dt-text-color);
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 100;
  opacity: 0.5;
  stroke: var(--dt-text-color);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.card-text {
  position: absolute;
  top: 214px;
  left: 16px;
}

.card-dish-name {
  color: var(--dt-text-color);
  text-align: left;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
  width: 208px;
  overflow: hidden;
  white-space: nowrap;

  padding: 0;
  margin: 0 0 8px 0;
}

.card-dish-descr {
  margin: 0;
  padding: 0;

  width: 303px;
  height: 32px;

  overflow: hidden;
  color: var(--dt-text-color);
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}

@media screen and (min-width: 768px) {
  .card-text {
    position: absolute;
    top: 143px;
  }

  .card-dish-descr {
    width: 208px;
  }
}

@media screen and (min-width: 1280px) {
  .card-text {
    top: 166px;
  }

  .card-dish-descr {
    width: 218px;
  }
}

.rating-btn-container {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 303px;

  margin: 0;
  padding: 0;
}

.rating-container {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  width: 90px;

  margin-right: auto;
  padding: 0;
}

.rating-number {
  color: var(--dt-text-color);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;

  margin: 0 4px 0 0;
  padding: 0;
}

.recipe-btn {
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 31px;
  min-width: 89px;

  border-radius: 8px;
  background: var(--brand-color);
  border: none;

  color: var(--dt-text-color);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;

  transition: color 250ms cubic-bezier(1, 0, 0, 1);
}

/* .recipe-btn:active {
  transform: translateY(4px);
} */

.recipe-btn:hover,
.recipte-btn:focus {
  color: #050505;
}

@media screen and (min-width: 768px) {
  .rating-btn-container {
    width: 208px;
  }
  .recipe-btn {
    font-size: 11px;
    padding: 8px 16px;
  }

  .rating-container {
    width: 72px;
  }
  .rating-number {
    margin: 0 2px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .rating-btn-container {
    width: 218px;
  }

  .rating-container {
    width: 90px;
  }
  .rating-number {
    margin: 0 4px 0 0;
  }

  .recipe-btn {
    min-width: 93px;
  }
}

.svg-star {
  width: 18px;
  height: 18px;
  fill: white;
  fill-opacity: 0.1;
}

.svg-star.rated {
  fill: #eea10c;
  fill-opacity: 1;
}

@media screen and (min-width: 768px) {
  .svg-star {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .svg-star {
    width: 18px;
    height: 18px;
  }
}
