select {
    -webkit-appearance: none;
}
.search {
    margin-bottom: 14px;
}
.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 14px;
    max-width: 780px;
    margin-top: 43px;

}
/* Container organization */

.box:nth-child(1) {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 14px);
}
.box:nth-child(4) {
    width: 188px;
}
@media (min-width: 768px) {
    .box:nth-child(1) {
        width: calc(50% - 16px);
        margin-right: 16px;
    }
    
    .box:nth-child(3) {
        width: 141px; 
        margin-right: 16px;
    }

    .box:nth-child(4) {
        width: 188px; 
    }
}

@media (min-width: 1280px) {
    .box:nth-child(1) {
        width:  278px;
        margin-right: 16px;
    }
    .box:nth-child(2) {
        width: 125px; 
        margin-right: 16px;
    } 
    .box:nth-child(3) {
        width: 141px; 
        margin-right: 16px;
    } 
    .box:nth-child(4) {
        width: 188px; 
    } 

}
/* All containers */

/* search input */
.search-box {
    margin-bottom: 14px;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.search-input {
    padding: 14px 45px;
    align-items: flex-start;
    color: var(--lt-text-color-opacity-fifty);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.search-input:focus {
    color: var(--lt-text-color);
}
/* time selection */
.time-box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 14px;
    margin-bottom: 16px;
}

.time {
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    color: var(--lt-text-color-opacity-thirty);;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.time:focus {
    color: var(--lt-text-color);
}
/* area aelection */
 .area-box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
} 
.area {
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

}

/* ingredient selection */
.ingredients-box {
    position: relative;
   margin-bottom: 16px; 
   display: inline-flex;
    flex-direction: column;
    gap: 8px;
}
.ingredient {
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
}

/*button*/
.button-box {
    display: flex;
    justify-content: end;
    max-width: 780px;
}
.reset-button {
    font-size: 18px;
    border: none;
    background: transparent;
}

/* Text */
.label-text {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
   color: var(--lt-text-color-opacity-fifty);
}

/* Borders */
.border {
    border-radius: 15px;
    border: 1px solid var(--lt-border-color-opacity-twenty);

}
/* icons  */
.icon {
    fill: var(--lt-text-color-opacity-fifty);
    vertical-align: top;
}
.search-icon {
    position: absolute;
    top: 65%;
    left: 20px;
    transform: translateY(-50%);
}
.search-input:focus .search-icon{
    fill: var(--brand-color)
}
.left-icon {
    transform: rotate(270deg);
    position: absolute;
    top: 55%;
    right: 18px;
    
}
.cross-icon {
    position: absolute;
    top: 65%;
    right: 20px; 
}
