/* .con-select {
  margin-top: 43px;
}
@media screen and (min-width: 768px) {
  .con-select {
    margin-top: 0px;
  }
}

.con-search {
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .con-search {
    margin-bottom: 0px;
  }
}

.con-inp {
  position: relative;
}

.svg-search {
  position: absolute;
  left: 18px;
  bottom: calc(50% - 23px);
  z-index: 10;
}

.text-search {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 8px;
}

.search-arrow {
  fill: rgba(5, 5, 5, 0.5);
  transition: transform 0.3s ease;
}

.inp-search {
  background-color: #f8f8f8;
  min-width: 335px;
  padding: 14px 48px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

@media screen and (min-width: 768px) {
  .inp-search {
    min-width: 278px;
  }
}

.inp-search:focus {
  border-color: #9bb537;
}
.inp-search .svg-search:focus {
  fill: #9bb537;
}

.option-select {
  border-radius: 14px;
  background: #ffffff;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.item {
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.time {
  margin-right: 14px;
  @media screen and (min-width: 768px) {
    margin-right: 0;
  }
}

.area {
  width: 160px;
}

.ingredients {
  margin-top: 14px;
}

.con-select {
  max-width: 335px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .con-select {
    max-width: 496px;
    gap: 16px;
  }
  .list-item {
    display: flex;
  }
  .inp-search {
    width: 278px;
  }

  .ingredients {
    margin-top: auto;
  }
}

@media screen and (min-width: 1280px) {
  .con-select {
    max-width: 780px;
  }
  .ingredients {
    margin-top: 0;
  }
}

.custom-select {
  position: relative;
  display: inline-block;
}

.search-arrow {
  position: absolute;
  top: 15px;
  right: 18px;
  bottom: 0;
  display: flex;
  align-items: center;
  pointer-events: none;
  width: 20px;
  height: 20px;
  fill: rgba(5, 5, 5, 0.5);
}

.custom-select .selected-option {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 160px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .custom-select .selected-option {
    width: 125px;
  }
}

.custom-select .selected-area {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 160px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .custom-select .selected-area {
    width: 141px;
  }
}

.custom-select .selected-ing {
  background-color: #f8f8f8;
  width: 188px;
  max-width: 100%;
  border-radius: 15px;
  padding: 14px 18px;
  cursor: pointer;
  border: 1px solid rgba(5, 5, 5, 0.2);
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .item-select {
    margin-bottom: 16px;
  }
}

.selected-option {
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.selected-area {
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}

.elem-prev {
  color: rgba(5, 5, 5, 0.5);
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  line-height: 18px;
}

.elem-prev-active {
  color: #050505;
}

@media screen and (max-width: 374px) {
  .con-select {
    display: block;
  }
  .custom-select {
    width: 100%;
  }
  .time {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .item-ingridienst {
    width: 100%;
  }
}

.selected-option:hover {
  border-color: #9bb537;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  cursor: pointer;
  margin-top: 14px;
}

.button-svg {
  stroke: #9bb537;
  width: 16px;
  height: 16px;
}

.reset-button {
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.label-text {
  color: rgba(5, 5, 5, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.js-time-list {
  z-index: 1;
  display: none;
}
.open {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  overflow:auto
}

.option-item {
color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: white;
  border: none; 
} */