body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

}

.description-dish {
    color: --lt-text-color-opacity-eighty;
    font-size: 12px;
    line-height: 1.33;
    width: 252px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}


@media screen and (min-width:768px) {
    .description-dish {
        color: var(--lt-text-color-opacity-eighty);
        font-size: 10px;
        line-height: 1.4;
        width: 120px;
        height: 41px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }
}

@media screen and (min-width:1280px) {
    .description-dish {
        width: 155px;

    }
}


.div-popular-list {
    margin-left: 16px;

}


.img-dish {
    width: 64px;
    border-radius: 10px;
    height: 64px;
}

.img-dish:hover {
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .img-dish {
        width: 48px;
        height: 48px;
    }
}

@media screen and (min-width:1280px) {
    .img-dish {
        width: 64px;
        height: 64px;
    }
}

.name-dish {
    color: var(--lt-text-color);
    font-size: 14px;
    line-height: 1.28;
    font-weight: 600;
    padding-bottom: 8px;
}

.name-dish:hover {
    color: var(--brand-color);
    cursor: pointer;
}

@media screen and (min-width:768px) {
    .name-dish {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        line-height: 1.2;
        width: 152px;
    }
}


@media screen and (min-width:768px) and (max-width:1280px) {
    .name-dish {
        width: 100px;
    }
}

.name-popular {
    color: var(--color-title-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.28;
}

@media screen and (min-width:768px) {
    .name-popular {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
    }
}

@media screen and (min-width: 1280px) {
    .name-popular {
        font-size: 24.4px;
        font-weight: 600;
        line-height: 1.16;
    }
}


.popular-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width:768px) {
    .popular-list {
        gap: 16px;
    }
}

@media screen and (min-width:1280px) {
    .popular-list {
        gap: 32px;
    }
}

.popular-recipe-item {
    display: flex;
}


@media screen and (max-width:768px) {
    .popular-recipe-item:nth-last-child(-n+2) {
        display: none;

    }
}