.hero-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: #be832a;
}

@media screen and (min-width: 375px) {
  .hero-img {
    background-color: #be832a;
    background-image: url('../img/favorite_mob.jpg');

    width: 335px;
    height: 516px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 375px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 375px),
  screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px) {
  .hero-img {
    background-image: url('../img/favorite_mob_2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-img {
    background-color: #be832a;
    background: url('../img/favorite_tab.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-img {
    background-image: url('../img/favorite_tab_2x.jpg');
    width: 704px;
    height: 356px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

@media screen and (min-width: 1280px) {
  .hero-img {
    background-color: #be832a;
    background-image: url('../img/favorite_desk.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-img {
    background-image: url('../img/favorite_desk_2x.jpg');
    width: 1080px;
    height: 356px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.hero-img-inactive {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-img-inactive {
    display: block;
  }
}

@media screen and (min-width: 375px) {
  .hero-favourites {
    padding-bottom: 64px;
    padding-top: 49px;
  }
}

@media screen and (min-width: 768px) {
  .hero-favourites {
    padding-bottom: 64px;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-favourites {
    padding-bottom: 64px;
    padding-top: 40px;
  }
}

.failure-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: auto;
  margin-bottom: auto;
}

.failure-block-hidden {
  display: none;
}

.svg-hat {
  width: 68px;
  height: 58px;
}

.failure-text {
  color: #050505;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .failure-block {
    gap: 32px;
    margin-bottom: 319px;
  }

  .svg-hat {
    width: 97px;
    height: 83px;
  }

  .failure-text {
    font-size: 16px;
    line-height: 1.5;
    width: 481px;
  }
}

@media screen and (min-width: 768px) {
  .failure-text {
    font-size: 16px;
    line-height: 1.5;
    width: 481px;
  }
}

@media screen and (min-width: 1280px) {
  .failure-block {
    margin-bottom: 64px;
  }
}

.js-all-favourite-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .js-all-favourite-cards {
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .js-all-favourite-cards {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.card-item-fav {
  position: relative;
  border-radius: 8px;
  width: 335px;
  height: 335px;
}

@media screen and (min-width: 768px) {
  .card-item-fav,
  .card-img-fav {
    width: 224px;
    height: 244px;
  }
}

@media screen and (min-width: 1280px) {
  .card-item-fav,
  .card-img-fav {
    width: 258px;
    height: 287px;
  }
}

@media screen and (max-width: 767px) {
  .card-item-fav:nth-child(n + 12) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .card-item-fav:nth-child(n + 14) {
    display: none;
  }
}

.card-text-fav {
  position: absolute;
  top: 214px;
  left: 16px;
}

@media screen and (min-width: 768px) {
  .card-text-fav {
    position: absolute;
    top: 123px;
  }
}

@media screen and (min-width: 1280px) {
  .card-text-fav {
    top: 166px;
  }
}

@media screen and (min-width: 375px) {
  .card-dish-descr-fav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--dt-text-color);
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;
    white-space: nowrap;
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .card-dish-descr-fav {
    width: 192px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1280px) {
  .card-dish-descr-fav {
    width: 226px;
  }
}

.rating-btn-container-fav {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin: 0;
  padding: 0;
}

@media screen and (min-width: 375px) {
  .rating-btn-container-fav {
    width: 303px;
  }
}

@media screen and (min-width: 768px) {
  .rating-btn-container-fav {
    width: 192px;
  }
}

@media screen and (min-width: 1280px) {
  .rating-btn-container-fav {
    width: 226px;
  }
}

.category-btn {
  display: flex;
  padding: 14px 18px;
  justify-content: center;
  align-items: center;
  gap: 18px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);

  color: rgba(5, 5, 5, 0.3);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;

  transition: color 250ms cubic-bezier(1, 0, 0, 1),
    background-color 250ms cubic-bezier(1, 0, 0, 1);
}

.category-btn:hover,
.category-btn:focus {
  background-color: var(--brand-color);
  color: var(--dt-text-color);
}

.all-favourites-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 375px) {
  .all-favourites-btn {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .all-favourites-btn {
    margin-bottom: 32px;
  }
}
