/*-------------SWIPER-------------*/
/*.events {
  display: flex;
}

.swiper-card {
  display: flex;
}

.cook {
  height: 442px;
  width: 137px;
}

.plate-slide {
  height: 442px;
  width: 351px;
}

.plate {
  display: block;
  height: 271px;
  width: 304px;
}

.plate-name {
  font-size: 20px;
  color: green;
}

.plate-sub {
  font-size: 20px;
  color: green;
}

.dish {
  height: 442px;
  width: 351px;
}

.slice {
  width: 5px;
  height: 5px;
}

.swiper {
  width: 50px;
  height: 50px;
  border: red 5px solid;
}

.swiper-slide {
  width: 50px;
  height: 50px;
  border: blue 5px solid;
}*/
.swiper-section {
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 0px;
}

.swiper-slide {
  display: flex;

  gap: 16px;
}

.cook-item {
  width: 137px;
  height: 442px;
  border-radius: 15px;

  background-color: #050505;
}

.cook-item-pic {
  width: 137px;
  height: 442px;
  border-radius: 15px;

  object-fit: cover;
}

.dish-item {
  justify-content: center;
  position: relative;

  width: 351px;
  height: 442px;
  border-radius: 15px;

  background-color: #050505;
}

.dish-item-pic {
  margin: 0;
  padding: 0;
}

.dish-item-title {
  margin-top: 20px;
  padding: 0;

  font-size: 10px;
  text-align: center;
  text-transform: uppercase;

  color: #f8f8f899;
}

.dish-item-sub {
  margin-top: 8px;
  padding: 0;

  font-size: 6px;

  text-transform: uppercase;
  text-align: center;

  color: #f8f8f833;
}

.food-item {
  width: 351px;
  height: 442px;
  border-radius: 15px;

  background-color: #050505;
}
.food-item-pic {
  height: 100%;
  width: 100%;
  border-radius: 15px;

  object-fit: cover;
}

.swiper .swiper-slide {
  display: flex;
}

.swiper-pagination-bullet-active {
  background-color: #9bb537 !important;
}
