/*-------------SWIPER-------------*/
/*.events {
  display: flex;
}

.swiper-card {
  display: flex;
}

.cook {
  height: 442px;
  width: 137px;
}

.plate-slide {
  height: 442px;
  width: 351px;
}

.plate {
  display: block;
  height: 271px;
  width: 304px;
}

.plate-name {
  font-size: 20px;
  color: green;
}

.plate-sub {
  font-size: 20px;
  color: green;
}

.dish {
  height: 442px;
  width: 351px;
}

.slice {
  width: 5px;
  height: 5px;
}

.swiper {
  width: 50px;
  height: 50px;
  border: red 5px solid;
}

.swiper-slide {
  width: 50px;
  height: 50px;
  border: blue 5px solid;
}*/
.swiper-section {
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  gap: 16px;
}

.cook-item {
  width: 137px;
  height: 442px;
  border-radius: 15px;

  background-color: var(--lt-text-color);
}

.cook-item-pic {
  width: 137px;
  height: 442px;
  border-radius: 15px;

  object-fit: cover;
}

.dish-item {
  justify-content: center;
  position: relative;

  width: 351px;
  height: 442px;
  border-radius: 15px;

  background-color: var(--lt-text-color);
}

.dish-item-pic {
  margin: 0;
  padding: 0;
}

.dish-item-title {
  margin-top: 20px;
  padding: 0;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--lt-text-color-opacity-sixty);
}

.dish-item-sub {
  margin-top: 8px;
  padding: 0;

  font-size: 6px;

  text-transform: uppercase;
  text-align: center;

  color: rgba(248, 248, 248, 0.2);
}

.food-item {
  width: 351px;
  height: 442px;
  border-radius: 15px;

  background-color: var(--lt-text-color);
}
.food-item-pic {
  height: 100%;
  width: 100%;
  border-radius: 15px;

  object-fit: cover;
}

.swiper .swiper-slide {
  display: flex;
}

.swiper-pagination {
  position: unset !important;
}

/*.swiper-pagination-bullet {
  background-color: var(--lt-text-color) !important;
}*/

.swiper-pagination-bullet-active {
  background-color: var(--brand-color) !important;
}
/* HERO LEFT SIDE */

.hero {
  padding-top: 91px;
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 94px;
  }
}
.hero-container {
  overflow: hidden;
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    align-items: center;
    overflow: visible;
  }
}
.hero-title-block {
  margin-bottom: 48px;
}
@media only screen and (min-width: 768px) {
  .hero-title-block {
    width: 446px;
    margin-bottom: 64px;
    margin-right: 32px;
  }
}


.hero-title {
  width: 335px;
  color: var(--lt-text-color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    width: 446px;
    font-size: 36px;
    margin-bottom: 16px;
  }
}
.hero-title-span {
  color: var(--brand-color);
  font-style: italic;
  font-weight: 400;
}
.hero-descr {
  color: #050505;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 28px;
}
@media only screen and (min-width: 768px) {
  .hero-descr {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }
}
.hero-btn {
  width: 111px;
  padding: 10px 19px;

  border-radius: 12px;
  border: 1px solid var(--brand-color);

  color: #050505;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  background-color: inherit;
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    width: 127px;
    padding: 14px 27px;
    border-radius: 15px;
  }
}
.hero-btn:hover {
  color: var(--lt-background-color);
  background-color: var(--brand-color);
}
.slider-events {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  min-width: 355px;
  height: 302px;
}
@media only screen and (min-width: 768px) {
  .slider-events {
    gap: 16px;
    min-width: 702px;
    height: 468px;
  }
}