/*-------------SWIPER-------------*/
.events {
  display: flex;
}

.swiper-card {
  display: flex;
}

.cook {
  height: 442px;
  width: 137px;
}

.plate-slide {
  height: 442px;
  width: 351px;
}

.plate {
  display: block;
  height: 271px;
  width: 304px;
}

.plate-name {
  font-size: 20px;
  color: green;
}

.plate-sub {
  font-size: 20px;
  color: green;
}

.dish {
  height: 442px;
  width: 351px;
}

.slice {
  width: 5px;
  height: 5px;
}

.swiper {
  width: 50px;
  height: 50px;
  border: red 5px solid;
}

.swiper-slide {
  width: 50px;
  height: 50px;
  border: blue 5px solid;
}
