/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base/modern-normalize.css');
@import url('./base/hidden.css');
@import url('./base/reset.css');
@import url('./base/scroll.css');
@import url('./block-categories.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./list-of-popular.css');
@import url('./list-of-recipes.css');
@import url('./modal-order.css');
@import url('./modal-rating.css');
@import url('./modal-recipe.css');
@import url('./main-section.css');
@import url('./favorite-page.css');
@import url('./search.css');
@import url('./pagination.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* lt - light theme color */
  --lt-background-color: rgba(248, 248, 248, 1);
  --lt-text-color: rgba(5, 5, 5, 1);
  --lt-border-color-opacity-twenty: rgba(5, 5, 5, 0.2);
  --lt-text-color-opacity-thirty: rgba(5, 5, 5, 0.3);
  --lt-text-color-opacity-fifty: rgba(5, 5, 5, 0.5);
  --lt-text-color-opacity-sixty: rgba(248, 248, 248, 0.6);
  --lt-text-color-opacity-eighty: rgba(5, 5, 5, 0.8);

  /* dt - dark theme color */
  --dt-background-color: rgba(22, 22, 22, 1);
  --dt-text-color: rgba(255, 255, 255, 1);
  --dt-border-color-opacity-twenty: rgba(255, 255, 255, 0.2);
  --dt-text-color-opacity-thirty: rgba(255, 255, 255, 0.3);
  --dt-text-color-opacity-fifty: rgba(255, 255, 255, 0.5);
  --dt-text-color-opacity-sixty: rgba(255, 255, 255, 0.6);
  --dt-text-color-opacity-eighty: rgba(255, 255, 255, 0.8);

  --brand-color: rgba(155, 181, 55, 1);
  --stars-color: rgba(238, 161, 12, 1);
  --shadow: 7px 5px 15px 0px rgba(160, 158, 160, 0.6);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* контейнер для 3ьох переломів в цсс */

.container {
  min-width: 320px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 768px) {
  .cont-div {
    display: flex;
    justify-content: space-between;
  }
}
